<div class="card">
    <img src="{{ prestation.image }}" alt="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ prestation.title }}</h5>
        <div class="card-title">
            <p>{{ prestation.price }} €</p>
        </div>
        <p class="text text-muted"> {{ prestation.description }}</p>
    </div>
    <a href="{{ path('prestation_show', {'id': prestation.id}) }}" class="btn btn-primary">Voir la prestation</a>
</div>